*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle.properties



/glidetest/src/main/java/com/magicsoft/glidetest/ui/IgnoreTest.java
